---
import Layout from "../../layouts/Layout.astro";
import { turso } from '../../turso';

const currentDate = new Date().toISOString().split('T')[0];

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();
  const exhibition = formData.get('exhibition');
  const ticketType = formData.get('ticketType');
  const quantity = formData.get('quantity');
  const paymentMethod = formData.get('paymentMethod'); // Nuevo campo para el método de pago


  // Redirigir según el método de pago
  if (paymentMethod === 'card') {
    return Astro.redirect('/tickets/payment-card');
  } else {
    return Astro.redirect('/tickets/payment-cash');
  }
}
---

<Layout title="Add Ticket">
  <div class="max-w-6xl mx-auto mt-12 p-8 bg-gray-800 rounded-lg shadow-md">
    <h1 class="text-3xl font-semibold text-white mb-6">Add New Ticket</h1>
    
    <form class="grid grid-cols-2 gap-6" method="POST">
      <!-- Campos del ticket -->
      <div>
        <label class="block text-sm font-medium text-white">Exhibition</label>
        <input type="text" name="exhibition" class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" placeholder="Exhibition" />
      </div>
      <div>
        <label class="block text-sm font-medium text-white">Ticket Type</label>
        <select name="ticketType" class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md">
          <option value="1">Time Traveler (Basic)</option>
          <option value="2">Legacy Explorer (VIP)</option>
        </select>
      </div>
      <div>
        <label class="block text-sm font-medium text-white">Quantity</label>
        <input type="number" name="quantity" class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md" placeholder="Quantity" />
      </div>

      <!-- Selección del método de pago -->
      <div class="col-span-2">
        <label class="block text-sm font-medium text-white">Payment Method</label>
        <select name="paymentMethod" class="mt-1 block w-full px-3 py-2 bg-gray-700 text-white rounded-md">
          <option value="card">Card</option>
          <option value="cash">Cash</option>
        </select>
      </div>

      <div class="col-span-2 flex justify-end space-x-2">
        <button type="submit" class="px-6 py-3 bg-blue-600 text-white rounded hover:bg-blue-700">
          Continue
        </button>
      </div>
    </form>
  </div>
</Layout>
