---
import Layout from "../../layouts/Layout.astro";
import { turso } from '../../turso';
import AddRegisterBtn from "@components/ui/Buttons/AddRegisterBtn.astro";
import OpenRegisterBtn from "@components/ui/Buttons/OpenRegisterBtn.astro";
import CloseRegisterBtn from "@components/ui/Buttons/CloseRegisterBtn.astro";
// Fetch existing ticket data
const { rows } = await turso.execute('SELECT * FROM Tickets');

// Calcula el total de tickets vendidos y el monto total recaudado
const totalTickets = rows.length;
const totalRecaudado = 0

// Calcula el porcentaje de cada tipo de ticket
const porcentajeBasico = ((rows.filter(ticket => ticket.ticketType === 1).length / totalTickets) * 100).toFixed(2);
const porcentajeVip = ((rows.filter(ticket => ticket.ticketType === 2).length / totalTickets) * 100).toFixed(2);
---

<Layout title="Dashboard">
  <div class="max-w-6xl mx-auto mt-12 p-8 bg-gray-800 rounded-lg shadow-md">
    <h1 class="text-3xl font-semibold text-white mb-6">Dashboard de Venta de Tickets</h1>
    
    <!-- Sección de Estadísticas de Venta -->
    <div class="grid grid-cols-2 gap-4 text-white mb-6">
      <div class="p-4 bg-gray-700 rounded-lg">
        <h3 class="text-xl font-semibold">Total de Tickets Vendidos</h3>
        <p class="text-3xl">{totalTickets}</p>
      </div>
      <div class="p-4 bg-gray-700 rounded-lg">
        <h3 class="text-xl font-semibold">Monto Total Recaudado</h3>
        <p class="text-3xl">${totalRecaudado}</p>
      </div>
      <div class="p-4 bg-gray-700 rounded-lg">
        <h3 class="text-xl font-semibold">Porcentaje de Time Traveler (Básico)</h3>
        <p class="text-3xl">{porcentajeBasico}%</p>
      </div>
      <div class="p-4 bg-gray-700 rounded-lg">
        <h3 class="text-xl font-semibold">Porcentaje de Legacy Explorer (VIP)</h3>
        <p class="text-3xl">{porcentajeVip}%</p>
      </div>
    </div>

    <AddRegisterBtn>
      Agregar Ticket
    </AddRegisterBtn>

    <OpenRegisterBtn>
      Abrir Caja 
    </OpenRegisterBtn>
      
      <CloseRegisterBtn>
        Cerrar Caja
      </CloseRegisterBtn>
      
    </div>
  </div>
</Layout>
