---
interface Props {
  value: string;
  label?: string;
  isSelected?: boolean;
}

const { value, label, isSelected } = Astro.props
---
{
  isSelected
  ?
    <option value={value} selected class="capitalize">
      {
        label 
        ? label
        : <slot/> 
      }
    </option>
  :
    <option value={value} class="capitalize">
      {
        label 
        ? label
        : <slot/> 
      }
    </option>
}
