---
import ARRoomsIcon from "../../components/ui/icons/ARRoomsIcon.astro";
import VRAIcon from "../../components/ui/icons/VRAIcon.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Maintenance Menu">
  <main class="flex flex-col items-center">
    <!-- Título grande centrado -->
    <h3 class="text-2xl font-bold text-center text-gray-800 dark:text-gray-200">
      Welcome to Maintenance!
    </h3>

    <!-- Íconos de Accesorio Realidad Virtual y Sala de Realidad Virtual -->
    <div class="flex items-center justify-center mt-24 space-x-64">
      <!-- Accesorio Realidad Virtual -->
      <div
        class="flex flex-col items-center text-center dark:text-white text-gray-700 icon-group"
      >
        <a href="/manteinance/VRA" class="icon-container">
          <VRAIcon alt="Accesorio Realidad Virtual" class="icon w-180 h-180" />
        </a>
        <a href="/manteinance/VRA">
          <p
            class="mt-4 text-xl font-bold text-gray-700 dark:text-gray-300 paragraph"
          >
            Virtual Reality Accessory
          </p>
        </a>
      </div>
    </div>
  </main>
</Layout>

<style>
  /* Transiciones y animaciones */
  .icon-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition:
      transform 0.3s ease,
      filter 0.3s ease;
  }

  .icon {
    transition:
      transform 0.3s ease,
      color 0.3s ease,
      filter 0.3s ease;
  }

  /* Efecto de reflejo en el icono*/
  .icon-group:hover .icon-container::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 40%;
    height: 200%;
    background: rgba(34, 69, 227, 0.3);
    transform: rotate(45deg);
    animation: shine 0.5s ease forwards;
  }

  /* Efecto hover en el párrafo */
  .icon-group:hover .paragraph {
    transition:
      transform 0.3s ease,
      color 0.3s ease;
    transform: scale(1.2);
    color: rgba(34, 69, 227, 0.9); /* Cambia el color del texto */
  }

  /* Animación de brinco */
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Brinco hacia arriba */
    }
  }

  @keyframes shine {
    0% {
      transform: translateX(-100%) rotate(45deg);
    }
    100% {
      transform: translateX(100%) rotate(45deg);
    }
  }
</style>
