---
import BackBtn from "@components/ui/Buttons/BackBtn.astro";
import Layout from "../../layouts/Layout.astro";
import PcForm from "@components/Pc/PcForm.astro";
import SubmitBtn from "@components/ui/Buttons/SubmitBtn.astro";
import statusTextToId from "@functions/statusTextToId";

const { pcID } = Astro.params;
const result = [
    ""
];

if (Astro.request.method === "POST") {
  // Parse form data
  const formData = await Astro.request.formData();

  const pcID = formData.get("pcID");
  const statusText = formData.get("status");
  const accNumber = formData.get("accountNumber");
  let statusConvertedID;
  let accNum = 0;

  return Astro.redirect("/pc");
}
---

<Layout title="Editar">
  <PcForm selectedPC={result[0]}>
    <div class="flex justify-end max-w-full mx-auto px-8">
      <BackBtn />
      <SubmitBtn> Update </SubmitBtn>
    </div>
  </PcForm>
</Layout>
