---
import BackBtn from "@components/ui/Buttons/BackBtn.astro";
import Layout from "../../layouts/Layout.astro";
import VIPcardForm from "@components/VipCard/VIPcardForm.astro";
import { turso } from "src/turso";
import { convertVIPcardDataToJSON } from "@functions/ConvertDataToJSON";
import SubmitBtn from "@components/ui/Buttons/SubmitBtn.astro";

const { cardNumber } = Astro.params;
const rows  = await turso.execute(`SELECT * FROM VIPCardMembers  WHERE vipCardID = ${cardNumber}`);

// Convertir a formato JSON deseado
const result = convertVIPcardDataToJSON(rows.toJSON());
---

<Layout title="Editar">
  <VIPcardForm selectedCard={result[0]}>
    <div class="flex justify-end max-w-full mx-auto px-8">
      <BackBtn />
      <SubmitBtn>
        Update
      </SubmitBtn>
    </div>
  </VIPcardForm>
</Layout>