---
import BackBtn from "@components/ui/Buttons/BackBtn.astro";
import Layout from "../../layouts/Layout.astro";
import VIPcardForm from "@components/VipCard/VIPcardForm.astro";
import { turso } from "src/turso";
import SubmitBtn from "@components/ui/Buttons/SubmitBtn.astro";

if (Astro.request.method === 'POST') {
  // Parse form data
  const formData = await Astro.request.formData();
  const cardNumber = formData.get('cardNumber');
  const accNumber = formData.get('accountNumber');

  await turso.execute(`INSERT INTO VIPCards (vipCardID,customerID, statusID) VALUES(${cardNumber},${accNumber}, 7)`)

  return Astro.redirect('/vipcard')
}


---

<Layout title="vipcard">
  <VIPcardForm>
    <div class="flex justify-end max-w-full mx-auto px-8">
      <BackBtn />
      <SubmitBtn>
        Add
      </SubmitBtn>
    </div>
  </VIPcardForm>
</Layout>
