---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Dashboard">
	<h1 class="text-black">Hello world</h1>
	<a href="/pages/Products/AProducts"><h1>Muy buenas</h1></a>
</Layout>