---
import Layout from '../layouts/Layout.astro';
import { turso } from '../turso'

const { rows } = await turso.execute('SELECT * FROM Persons')
const session = Astro.cookies.get("userSes");

if (!session) {
  return Astro.redirect("/404");
}
---

<Layout title="Dashboard">
	<h1 class="text-black">Hello world</h1>
	<ul>
		{rows.map((person) => (
			<li class="dark:text-white">{person.FirstName}</li>
		))}
	</ul>
</Layout>
