---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import { turso } from '../turso'
const { rows } = await turso.execute('SELECT * FROM souvenirs')
---

<Layout title="Dashboard">
	<h1 class="text-black">Hello world</h1>
	<a href="/pages/Products/AProducts"><h1>Muy buenas</h1></a>
</Layout>
<ul>
	{rows.map((souvenirs) => (
		<li class="dark:text-white">{souvenirs.idSouvenir}</li>
	))}
</ul>
</Layout>