---
import BackBtn from "@components/ui/Buttons/BackBtn.astro";
import Layout from "src/layouts/Layout.astro";
import SouvenirForm from "@components/Souvenir/SouvenirForm.astro";
import { turso } from "src/turso";
import SubmitBtn from "@components/ui/Buttons/SubmitBtn.astro";
import SouvenirIcon from "@components/ui/icons/SouvenirIcon.astro";

if (Astro.request.method === 'POST') {
  // Parse form data
  const formData = await Astro.request.formData();
  const souvenirID = formData.get('cardNumber');
  const souvenirName = formData.get('souvenirName');
  const priceWithoutIVA = formData.get('priceWithoutIVA ');
  const IVA = formData.get('IVA');
  const priceWithIVA = formData.get('priceWithIVA ');
  const description  = formData.get('description ');
  const warehouseID = formData.get('warehouseID');
  const statusID  = formData.get('statusID ');

  await turso.execute(`INSERT INTO Souvenirs (souvenirID, warehouseID, statusID) VALUES(${souvenirID},${warehouseID}, 7)`)

  return Astro.redirect('/vipcard')
}


---

<Layout title="vipcard">
  <SouvenirForm>
    <div class="flex justify-end max-w-full mx-auto px-8">
      <BackBtn />
      <SubmitBtn>
        Add
      </SubmitBtn>
    </div>
  </SouvenirForm>
</Layout>