---
import Form from "@components/ui/Forms/Form.astro";
import FormInput from "@components/ui/Forms/FormInput.astro"
import FormSelect from "@components/ui/Forms/FormSelect.astro";
import SelectOption from "@components/ui/Forms/SelectOption.astro";
import { convertSouvenirsDataToJSON } from "@functions/ConvertSuppliersDataToJSON";
import { turso } from "src/turso";

const path = Astro.url.pathname.replace(/\/$/, ""); // Elimina el "/" al final si existe.
const previousPath = path.substring(0, path.lastIndexOf("/")) || "/";

interface Props {
  selectedSouvenir?: any;
}

const {selectedSouvenir} = Astro.props;
console.log(selectedSouvenir);
---

<Form title="Alta Productos">
  {
    !selectedSouvenir
    ?
    <div class="grid grid-cols-2 gap-4">

        <!-- Primera columna -->
        <div class="flex flex-col">
          <!-- Id Proveedor -->
            <FormInput type="number" name="idSupplier" title="idSupplier" placeholder="ID Supplier" isRequired/>

          <!-- Id Entidad Legal -->
            <FormInput type="number" name="legalEntityID" title="legalEntityID" placeholder="Id Entidad Legal" isRequired/>

          <!-- Id Status -->
          <FormInput type="number" name="statusID" title="statusID" placeholder="ID Status" isRequired/>
        </div>

        <!-- Segunda columna -->
        <div class="flex flex-col">
            <!-- Dirección -->
            <FormInput type="text" name="address" title="address" placeholder="Dirección" />

          <!-- Número fe telefono -->
            <FormInput type="text" name="phoneNumber" title="phoneNumber" placeholder="Número de telefono"/>

          <!-- Email -->
          <FormInput type="text" name="email" title="email" placeholder="Email"/>
        </div>
    </div>

    <slot/>
  :

      <!-- Edit -->

      <div class="grid grid-cols-2 gap-4">
        
        <!-- Primera columna -->
        <div class="flex flex-col">
          <!-- Id Proveedor -->
            <FormInput type="number" name="idSupplier" title="idSupplier" placeholder="ID Supplier"/>

          <!-- Id Entidad Legal -->
            <FormInput type="number" name="legalEntityID" title="legalEntityID" placeholder="Id Entidad Legal"/>

            <!-- Id Status -->
          <FormSelect name="idStatus" title="idStatus" value={selectedSouvenir.statusName} >
            <SelectOption value="" isSelected> -- Selecciona -- </SelectOption>
            <SelectOption value="alta"> Alta </SelectOption>
            <SelectOption value="en stock"> En stock </SelectOption>
          </FormSelect>
        </div>

        <!-- Segunda columna -->
        <div class="flex flex-col">
            <!-- Dirección -->
            <FormInput type="text" name="address" title="address" placeholder="Dirección" />

          <!-- Número fe telefono -->
            <FormInput type="text" name="phoneNumber" title="phoneNumber" placeholder="Número de telefono"/>

          <!-- Email -->
          <FormInput type="text" name="email" title="email" placeholder="Email"/>
        </div>
    </div>

    <slot/>
  }
</Form>