---
import Image from "astro/components/Image.astro";
import UserIcon from "@icons/UserIcon.astro";

interface Props {
  src?: string;
  name: string;
}

const { src, name } = Astro.props;
---

<a href="/profile" class="flex items-center px-4 -mx-2">
  {
    src ? (
      <Image
        src={src}
        alt="avatar"
        height={36}
        width={36}
        class="object-cover mx-2 rounded-full shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_1px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)] dark:bg-white dark:text-gray-200 h-9 w-9"
      />
    ) : (
      <UserIcon class="w-9 h-9 py-2 dark:text-white object-cover mx-2 rounded-full shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_1px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)]" />
    )
  }
  <span class="mx-2 font-medium text-gray-800 dark:text-gray-200">
    {name}
  </span>
</a>
