---
import BackBtn from "@components/ui/Buttons/BackBtn.astro";
import Layout from "../../../layouts/Layout.astro";
import VRAMaintenancesForm from "@components/Maintenances/VRAMaintenancesForm.astro";
import SubmitBtn from "@components/ui/Buttons/SubmitBtn.astro";
import { convertFullVRAMToJSON } from "@functions/ConvertDataToJSON";
import { turso } from "src/turso";

const { maintID } = Astro.params;

const VRAMaintenances = await turso.execute(`SELECT * FROM FullVRAM WHERE vraMaintenanceID = ${maintID}`);
let result = convertFullVRAMToJSON(VRAMaintenances.toJSON());
---

<Layout title="Edit">
  <VRAMaintenancesForm selectedMaintenance={result[0]}>
    <div class="flex justify-end max-w-full mx-auto px-8">
      <BackBtn />
    </div>
  </VRAMaintenancesForm>
</Layout>