---
import BackBtn from "../../components/ui/Buttons/BackBtn.astro";
import Layout from "../../layouts/Layout.astro";
import ReceptionForm from "@components/Reception/ReceptionForm.astro";
import { turso } from "src/turso";
import { convertPurchaseDataToJSON } from "@functions/ConvertDataToJSON";
import SubmitBtn from "@components/ui/Buttons/SubmitBtn.astro";

const { receptionID } = Astro.params;
const rows = await turso.execute(`SELECT * FROM Receptions  WHERE vipCardID = ${receptionID}`);

const result = convertPurchaseDataToJSON(rows.toJSON());
---

<Layout title="Editar">
  <ReceptionForm selectedReception={result[0]}>
    <div class="flex justify-end max-w-full mx-auto px-8">
      <BackBtn />
      <SubmitBtn>
         Update
       </SubmitBtn>
    </div>
  </ReceptionForm>
</Layout>