---
import BackBtn from "../../components/ui/Buttons/BackBtn.astro";
import ReceptionForm from "../../components/Reception/ReceptionForm.astro";
import Layout from "../../layouts/Layout.astro";
import { turso } from "src/turso";
import SubmitBtn from "../../components/ui/Buttons/SubmitBtn.astro";


if(Astro.request.method === 'POST') {
  // Parse form data
  const formData = await Astro.request.formData();
  const purchaseID = formData.get('purchaseID');

  await turso.execute(`INSERT INTO PurchaseOrders (purchaseOrderID, deliverTo, purchaseDate, discount, totalChange, description, warehouseID, currencyID, souvenirID, supplierID, statusID)
VALUES (1, 'Almacén Central', '2024-11-01', 5.0, 200.50, 'Pedido de souvenirs para la temporada alta', 1, 1, 3, 1, 7)`);

  //await turso.execute(`INSERT INTO Recepcions (purchaseOrderID, statusID ) VALUES(${purchaseID}, 7)`)

  return Astro.redirect('/reception');
}
---

<Layout title="reception">
  <ReceptionForm />
  <div class="flex justify-end max-w-full mx-auto px-8">
    <BackBtn />
    <SubmitBtn>
      Add
    </SubmitBtn>
    </a>
  </div>
</Layout>
