---
import BackBtn from "../../components/ui/Buttons/BackBtn.astro";
import ReceptionForm from "../../components/Reception/ReceptionForm.astro";
import Layout from "../../layouts/Layout.astro";
import { turso } from "src/turso";
import SubmitBtn from "../../components/ui/Buttons/SubmitBtn.astro";


if(Astro.request.method === 'POST') {
  // Parse form data
  const formData = await Astro.request.formData();
  const receptionID = formData.get('recepcionID');
  const purchaseID = formData.get('purchaseID');
  const description = formData.get('description');

  await turso.execute(`INSERT INTO Recepcions (recepcionID, purchaseOrderID, statusID, description ) VALUES(${receptionID}, ${purchaseID}, 7, ${description})`)

  return Astro.redirect('/reception');
}
---

<Layout title="reception">
  <ReceptionForm />
  <div class="flex justify-end max-w-full mx-auto px-8">
    <BackBtn />
    <SubmitBtn>
      Add
    </SubmitBtn>
    </a>
  </div>
</Layout>
