<button class="btn-secondary">Inicio</button>
<style>
    .btn-secondary {
    background-color: #6c757d;
    border: none;
    color: white;
    padding: 15px 50px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-secondary:hover {
    background-color: #5a6268;
  }
</style>