---
import Layout from "../../layouts/Layout.astro"
import SouvenirIcon from "@components/ui/icons/SouvenirIcon.astro"
import SnackIcon from "@components/ui/icons/SnackIcon.astro"
import VRAIcon from "@components/ui/icons/VRAIcon.astro"
---

<Layout title="Products">
    <!--Bienvenida al usuario -->
    <div class="lg:flex lg:items-center lg:justify-center">
        <h1 class="text-4xl font-bold leading-7 text-white sm:truncate sm:text-7xl sm:tracking-tight ">Welcome</h1>
    </div>
    <div class="mt-7 lg:flex lg:items-center lg:justify-center">
    <h2 class="text-2xl font-bold leading-7 text-white sm:truncate sm:text-3xl sm:tracking-tight ">Select your option</h2>
    </div>

    <!-- Opciones del usuario -->
    <div class="mt-20 flex items-center justify-center space-x-20">

        <!--  Souvenirs -->
        <div class="flex flex-col items-center text-center dark:text-white text-gray-700 icon-group">
            <a href="/products/souvenirs" class="icon-container">
                <SouvenirIcon>Souvenirs</SouvenirIcon>
                  <a href="/products/souvenirs">
                    <p class="flex flex-col items-center justify-center text-2xl font-bold leading-7 text-white sm:truncate sm:text-xl sm:tracking-tight mt-2">Souvenirs</p>
                  </a>
            </a>
        </div>

        <!--  Snacks -->
        <div class="flex flex-col items-center text-center dark:text-white text-gray-700 icon-group">
            <a href="/products/snacks" class="icon-container">
                <SnackIcon></SnackIcon>
            </a>
            <a href="/products/snacks">
                <p class="flex flex-col items-center justify-center text-2xl font-bold leading-7 text-white sm:truncate sm:text-xl sm:tracking-tight mt-2">Snacks</p>
            </a>
        </div>
        
        <!--  VRA -->
        <div class="flex flex-col items-center text-center dark:text-white text-gray-700 icon-group">
            <a href="/products/vra" class="icon-container">
                <VRAIcon></VRAIcon>
            </a>
            <a href="/products/vra">
                <p class="flex flex-col items-center justify-center text-2xl font-bold leading-7 text-white sm:truncate sm:text-xl sm:tracking-tight mt-2">Virtual Reality Accesories</p>
            </a>
        </div>
    </div>
</Layout>

<style>
    /* Transiciones y animaciones */
    .icon-container {
        position: relative;
        overflow: hidden;
        display: inline-block;
        transition: transform 0.3s ease, filter 0.3s ease;
    }

    .icon {
        transition: transform 0.3s ease, color 0.3s ease, filter 0.3s ease;
    }


    /* Efecto de reflejo en el icono*/
    .icon-group:hover .icon-container::before {
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        width: 40%;
        height: 200%;
        background: rgba(34, 69, 227, 0.3);
        transform: rotate(45deg);
        animation: shine 0.5s ease forwards;
    }

    /* Efecto hover en el párrafo */
    .icon-group:hover .paragraph {
        transition: transform 0.3s ease, color 0.3s ease;
        transform: scale(1.2);
        color: rgba(34, 69, 227, 0.9); /* Cambia el color del texto */
    }

    /* Animación de brinco */
    @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px); /* Brinco hacia arriba */
        }
    }

    @keyframes shine {
        0% {
            transform: translateX(-100%) rotate(45deg);
        }
        100% {
            transform: translateX(100%) rotate(45deg);
        }
    }
</style>
