---
import BackBtn from "../../components/ui/Buttons/BackBtn.astro";
import ReceptionForm from "../../components/Order/OrderForm.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="PurchaseOrder">
  <ReceptionForm />
  <div class="flex justify-end max-w-full mx-auto px-8">
    <BackBtn />
    <a
      class="inline-block px-4 py-2 mr-4 text-white duration-150 font-medium bg-LegacyBlue-600 rounded-lg hover:bg-LegacyBlue-500 active:bg-LegacyBlue-700 md:text-sm capitalize"
    >
      <p class="text-lg">Add</p>
    </a>
  </div>
</Layout>