---
import BackBtn from "../../components/ui/Buttons/BackBtn.astro";
import Layout from "../../layouts/Layout.astro";
import PurchaseForm from "../../components/Purchase/PurchaseForm.astro";
import { turso } from "src/turso";
import SubmitBtn from "../../components/ui/Buttons/SubmitBtn.astro";

if (Astro.request.method === 'POST') {
  
  const formData = await Astro.request.formData();
  const purchaseID = formData.get('purchaseID');
  const warehouseID = formData.get('warehouseID');
  const supplierID = formData.get('supplierID');

  await turso.execute(`
    INSERT INTO PurchaseOrders (purchaseOrderID, warehouseID, supplierID)
    VALUES (${purchaseID}, ${warehouseID}, ${supplierID})
  `);

  return Astro.redirect('/purchaseOrders');
}
---

<Layout title="Purchase Orders">
  <PurchaseForm />
  <div class="flex justify-end max-w-full mx-auto px-8">
    <BackBtn />
    <SubmitBtn>
      Add
    </SubmitBtn>
  </div>
</PurchaseForm>
</Layout>
