---
interface Props {
  urgency: string;
}

const { urgency } = Astro.props;
---
{
  urgency === "crítico" ?
    <span class="inline-flex items-center justify-center rounded-full bg-red-100 dark:bg-red-200 px-2.5 py-0.5 text-red-700">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ms-1 me-1.5 size-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
      </svg>
      <p class="whitespace-nowrap text-sm capitalize">{urgency}</p>
    </span>
  : urgency === "moderado" ?
    <span class="inline-flex items-center justify-center rounded-full bg-amber-100 dark:bg-amber-200 px-2.5 py-0.5 text-amber-700">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ms-1 me-1.5 size-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 2.25c-5.384 0-9.75 4.366-9.75 9.75s4.366 9.75 9.75 9.75 9.75-4.366 9.75-9.75-4.366-9.75-9.75-9.75zM12 6.75v4.5m0 3.375h.008v.008H12v-.008z" />
      </svg>
      <p class="whitespace-nowrap text-sm capitalize">{urgency}</p>
    </span>
  : urgency === "leve" ?
    <span class="inline-flex items-center justify-center rounded-full bg-green-100 dark:bg-green-200 px-2.5 py-0.5 text-green-700">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="-ms-1 me-1.5 size-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.125 15.75l-3.375-3.375m0 0L10.125 9m-3.375 3.375H16.5m-6.375 3.375l3.375-3.375m0 0l-3.375-3.375m3.375 3.375H16.5" />
      </svg>
      <p class="whitespace-nowrap text-sm capitalize">{urgency}</p>
    </span>
  : ""
}